<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MTG Inventory">
    <meta name="author" content="Mariska Martin">

    <title>MTG Inventory v2.0.0</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- fonts https://fontawesome.com/icons/shield-alt?style=solid -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
<!--
    <link href="/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
-->
    <link href="/lib/bootstrap/css/bootstrap-mtgi.css" rel="stylesheet">
    <!-- Load c3.css -->
    <link href="/lib/c3/c3.min.css" rel="stylesheet" type="text/css">
    <!-- Load pnotify.css -->
    <link href="/lib/pnotify/pnotify.custom.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="cards-form1">
                <div class="form-group">
                    <label for="findInput">Karta:<i class="fas fa-info-circle mm-padded" data-bs-toggle="tooltip" title="'Hledej' dohledá kartu v lokalní databázi a zobrazí tabulku s výsledky. 'Aktualizuj' se pokusí přečíst aktuální hodnoty z českých MTG obchodů pro další zobrazení v grafu karty."></i></label>
                    <input placeholder="hledany nazev?" id="findInput"/>
                    <button id="findCardButton" type="button" class="btn btn-success btn-sm">Hledej</button>
                    <button id="fetchCardButton" type="button" class="btn btn-info btn-sm">Aktualizuj</button>
                    <button id="cleanCardDciButton" type="button" class="btn btn-default btn-sm">Vycisti Historii</button>
                </div>
            </form>
            <form id="cards-form2">
                <div class="form-group">
                    <label for="editionInput">Edice:<i class="fas fa-info-circle mm-padded" data-bs-toggle="tooltip" title="'Hledej' dohledá všechny karty v lokalní databázi dle Edice a zobrazí tabulku s výsledky."></i></label>
                    <input placeholder="nazev edice presne?" id="editionInput"/>
                    <button id="findEditionButton" type="button" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="'Hledej' dohledá karty z celé Edice v lokalní databázi a zobrazí tabulku s výsledky.">Hledej</button>
                    <button id="fetchEditionButton" type="button" class="btn btn-info btn-sm">Aktualizuj</button>
                </div>
            </form>
        </div>
        <div id="maintenance" class="d-none">
            <div class="col-md-12">
            <form id="cards-form3">
                <div class="form-group">
                    <label for="editionInput">Maintenance:</label>
                    <button id="fetchManagedCards" type="button" class="btn btn-default btn-sm">Aktualizovat Managed Karty</button>
                    <button id="cleanAllDciHistory" type="button" class="btn btn-default btn-sm">Clean All DCIs</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <i class="fas fa-info-circle mm-padded" data-bs-toggle="tooltip" title="Tabulka výsledků karet obsahuje poslední sloupec akce, kde je možné si zobrazit konkrétní graf s historií cen a skladové dostupnosti."></i>
        </div>
        <div class="col-md-12">
            <div id="cards-table1" class="table-responsive">
                <table class="table mm-table table-sm table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell">Karta</th>
                        <th>ID (nazev|foil|rarita|edice)</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody id="cards-tbody1">
<!--
                    <tr>
                        <td class="d-none d-sm-table-cell">card name</td>
                        <td>IDofCard</td>
                        <td>actions</td>
                    </tr>
                    <tr><td class="d-none d-sm-table-cell">Pendelhaven</td><td>Pendelhaven|false|RARE|A25</td><td><button class="btn btn-xs mm-icon-btn" onclick="pageViewModel.tableImgClick('1')"><span class="fas fa-chart-line"></span></button><button class="btn btn-xs mm-icon-btn" onclick="pageViewModel.tableStarClick('1')"><i class="fas fa-broom"></i></button></td></tr>
                    <tr><td class="d-none d-sm-table-cell">Pendelhaven</td><td>Pendelhaven|false|RARE|A25</td><td><button class="btn btn-xs" onclick="pageViewModel.tableImgClick('1')"><span class="fas fa-chart-line mm-icon-btn"></span></button><button class="btn btn-xs" onclick="pageViewModel.tableStarClick('1')"><i class="fas fa-broom mm-icon-btn"></i></button></td></tr>
-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!--
    <div class="row">
    </div>
-->
    <div id="charts"></div>
        <!--<h1>Charts</h1>-->
        <!--<div id="cardDetail" class="col-md-12">-->
            <!--<h1>Card price history</h1>-->
            <!--<div id="priceChart"></div>-->
        <!--</div>-->
</div>
<!-- /.container -->


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type='text/javascript' src="/lib/pnotify/pnotify.custom.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js" integrity="sha512-PQsdzDthPKtp230uD7lunTQw6CwNTPnd5LP3e3/+afg9cNkrL7UsfWXT3EW5Ar9XZ5SdADcPDXs1BAWNa9OZ7Q==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/md5.min.js" integrity="sha512-VLDQac8zlryHkFvL1HIH9KKjkPNdsNLEXM/vImKGMaNkEXbNtb+dyhnyXFkxai1RVNtwrD5L7vffgtzYzeKI3A==" crossorigin="anonymous"></script>

<!-- Load d3.js and c3.v0.7.20.js -->
<script src="/lib/c3/d3.v5.min.js" charset="utf-8"></script>
<script src="/lib/c3/c3.min.js" charset="utf-8"></script>
<script src="/js/utils.js" charset="utf-8"></script>

<script>

function Card(pojo) {
    var self = this;
    self.id = pojo.id;
    self.name = pojo.name;
    self.rarity = pojo.rarity;
    self.edition = pojo.edition;
    self.foil = pojo.foil;
    self.storeAmount = pojo.storeAmount;
    // others helps
    // self.hrefDetail = PAGES_URLS.DETAIL+"/" + pojo.id;
    self.editionKey = pojo.editionKey;
    self.foilTxt = pojo.foil ? "FOIL" : "";
    self.foilImg = (pojo.foil ? " " + utils.icons.star : "");
    self.crLink = "<a href=\"javascript:utils.links.openCernyRytir('" + this.name + "');\">Černý Rytíř</a>";
    self.tolarieLink = "<a href=\"javascript:utils.links.openTolarie('" + this.name + "');\">Tolarie</a>";
    self.magicCardsLink = "<a href=\"javascript:utils.links.openMagicCards('" + this.name + "');\">MagicCards</a>";
    if (self.name && self.name !== "UNKNOWN") {
        self.img = "<img src='http://cdn.manaclash.com/images/cards/210x297/" + this.editionKey + "/"
        + this.name.replace(/ /g, "-").replace(/[,'´]/g, "").toLowerCase() + ".jpg' class='img-thumbnail'></img>";
    }
}
Card.EMPTY = new Card({
    id : "",
    name : "UNKNOWN",
    price : 0,
    storeAmount : "",
    rarity : "UNKNOWN",
    edition : "UNKNOWN",
    editionKey : "UNKNOWN",
    foil : false
});
/**
 *
 * @param pojo
 */
function CardMovement(pojo) {
    var self = this;
    self.cardPojo = pojo.card;
    self.name = pojo.card.name;
    self.rarity = pojo.card.rarity;
    self.edition = pojo.card.edition;
    self.shop = pojo.shop;
    self.gainPrice = pojo.gainPrice;
    self.gainPercentage = pojo.gainPercentage > 0 ? "+" + pojo.gainPercentage.toFixed(2) + " %" : pojo.gainPercentage.toFixed(2) + " %";
    self.oldPrice = pojo.oldPrice;
    self.newPrice = pojo.newPrice;
    // others helps
    // self.hrefDetail = PAGES_URLS.DETAIL+"/" + pojo.card.id;
    self.gainStatus = pojo.gainPercentage > 0 ? "success" : "danger";
    self.foilImg = (pojo.card.foil ? " " + utils.icons.star : "");
    self.info = self.edition;
}

// MVVM for this html
function PageViewModel () {
    var self = this;
    self.isa = false;

    self.evaluateAdminPwd = function() {
        var url = new URL(document.URL);
        self.isa = (CryptoJS.MD5("admin:"+url.searchParams.get("admin")).toString() == '75e7109aa7f34c90eda0721057ad060e');
        if(self.isa) $("#maintenance").removeClass("d-none")
    }

    self.populateCardDetail = function(card) {
        utils.json.get({
            url : '/rest/dci/detail/card-id/' + encodeURI(card.id).replace("#","%23"),
            success : function(result) {
                console.log(["fetch dcis", this, result]);
                var encCardId = card.id.replaceAll(".","_").replaceAll("/","_").replaceAll("´","_").replaceAll("'","").replaceAll("(","").replaceAll(")","").replaceAll("#","").replaceAll("ř","r").replaceAll("í","i").replaceAll("ě","e").replaceAll("á","a").split('|').join('').split(' ').join('').split(',').join('');
//                var encCardId = card.id.replaceAll(/[\/|,'´()#] /g,"_")
                var chartId = "pc-" + encCardId;
                var divId = "div-" + encCardId;

                //when not exists
                if ( $('#' + chartId).length === 0) {
                    var cardIdFixed = card.id.replace("|"," ");
                    $( "#charts" ).append( "<div class=\"row\" id=\""+divId+"\">" +
                        "<div class=\"col\" ><h1>"+cardIdFixed+"</h1></div>" +
                        "<div class=\"col-1\"><button type=\"button\" class=\"close\" aria-label=\"Close\" onclick=\"$('#"+divId+"').remove()\"><span aria-hidden=\"true\">×</span></button></div>" +
                        "<div class=\"col-md-12\"><div id=\"" + chartId + "\"></div></div>" +
                        "</div>" +

                    "</div>" );
                }

                var data = {};
                result.forEach(function(item) {
                    data[item.shop] = data[item.shop] || {
                        xs : {},
                        names : {},
                        x : [ 'x'+item.shop ],
                        prices : [ item.shop ],
                        store : [ 'ks'+item.shop ]
                    };
                    data[item.shop].xs[item.shop] = 'x'+item.shop; // map prices to x values
                    data[item.shop].xs['ks'+item.shop] = 'x'+item.shop; // map store amount to x values
                    data[item.shop].names['ks'+item.shop] = item.shop+' ks'; // rename id of store to nice name
                    data[item.shop].x.push(item.dayTxt);
                    data[item.shop].prices.push(item.price);
                    data[item.shop].store.push(item.storeAmount);
                });
                console.log(["result", result, "data", data]);

                var chart = c3.generate({
                    bindto: '#' + chartId,
                    data : {
                        xs : {},
                        columns : []
                    },
                    axis : {
                        x : {
                            type : 'timeseries',
                            tick : {
                                rotate: 90,
                                format : '%d.%m.%Y'
                            }
                        }
                    },
                    transition: {
                        duration: 200
                    },
                    tooltip: {
                        format: {
                            value: function myFunc(value, ratio, id, index) {
                                return (id.startsWith('ks')) ? value+' ks' : value+',-';
                            }
                        }
                    }
                });

                for ( var shop in data) {
                    chart.load({
                        xs : data[shop].xs,
                        names : data[shop].names,
                        columns : [ data[shop].x, data[shop].prices, data[shop].store ]
                    });
                }
                // document.getElementById("cardDetail").scrollIntoView(true);
            }
        });
    };

    self.tableImgClick = function(cardIndex){
        var cardId = self.cardTableMap[cardIndex].id
        utils.json.get({
            url : '/rest/cards/detail/card-id/' + encodeURI(cardId).replace("#","%23"),
            success : function(result) {
                console.log(["get card",this, result]);
                pageViewModel.populateCardDetail(new Card(result));
            }
        });
    };

    self.tableStarClick = function(cardIndex){
        var cardId = self.cardTableMap[cardIndex].id
        utils.json.get({
            url : '/rest/dci/clean/card-id/'+encodeURI(cardId).replace("#","%23"),
            success : function(result) {
                utils.msg.info("done cleaning: " + result);
            }
        });
    };

    self.tableTrashClick = function(cardIndex){
        var cardId = self.cardTableMap[cardIndex].id
        utils.json.del({
            url : '/rest/cards/detail/card-id/' + encodeURI(cardId).replace("#","%23"),
            success : function(result) {
                utils.msg.info("deleted cards: " + JSON.stringify(result));
            }
        });
    };



    self.populateCardTable = function(cardsPojo){
        self.cardTableMap = {};
        var i = -1;
        var tbody = $( "#cards-tbody1" );
        tbody.empty();
        cardsPojo.forEach(function(item) {
            var c = new Card(item);
            //store correct card ID for later use
            self.cardTableMap[++i] = c;
            var buttons = "<button class=\"btn btn-xs mm-icon-btn\" onclick=\"pageViewModel.tableImgClick('"+i+"')\"><span class=\"fas fa-chart-line\"></span></button>"
            buttons += "<button class=\"btn btn-xs mm-icon-btn\" onclick=\"pageViewModel.tableStarClick('"+i+"')\"><i class=\"fas fa-broom\"></i></button>"
            if (self.isa) buttons += "<button class=\"btn btn-xs mm-icon-btn\" onclick=\"pageViewModel.tableTrashClick('"+i+"')\"><i class=\"fas fa-trash-alt\"></i></button>"

            var cardIdFixed = c.id.replace("|"," ");
            tbody.append( "<tr><td class=\"d-none d-sm-table-cell\">"+c.name+"</td><td>"+cardIdFixed+"</td><td>" + buttons + "</td></tr>" );
        });
    }
}

var pageViewModel = new PageViewModel();


$( document ).ready(function() {
    console.log( "ready!" );
    // pageViewModel.afterRenderActiveTemplate(document, pageViewModel);
    pageViewModel.evaluateAdminPwd();

    // activate all bootstrap tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
});

$( "#findCardButton" ).click(function() {
    console.log( "Handler for .click() called." );
    var fixedText = utils.titleCase($('#findInput').val());
    $('#findInput').val(fixedText);
    utils.json.get({
        url : '/rest/cards/find/' + fixedText,
        success : function(result) {
            console.log(["find cards",this, result]);
            pageViewModel.populateCardTable(result);
        }
    });
});

$( "#findInput" ).on('keypress',function(e) {
    if(e.which == 13) {
        e.preventDefault();
        $("#findCardButton").click();
    }
})


$( "#fetchCardButton" ).click(function(e) {
    e.preventDefault();
    console.log( "Handler for fetchCardButton .click() called." );
    var fixedText = utils.titleCase($('#findInput').val());
    $('#findInput').val(fixedText);
    utils.json.get({
        url : '/rest/dci/fetch/' + fixedText,
        success : function(result) {
            console.log(["fetch cards",this, result]);
            pageViewModel.populateCardTable(result);
            // result.forEach(function(item) {
            // console.log(new Card(item));
            // self.cards.push(new Card(item));
            // });
            // pageViewModel.populateCardDetail(new Card(result[0]));
        }
    });
});

$( "#findEditionButton" ).click(function() {
    var text = $('#editionInput').val();
    utils.json.get({
        url : '/rest/cards/find/edition/' + text,
        success : function(result) {
            console.log(["find cards by edition", this, result]);
            pageViewModel.populateCardTable(result);
        }
    });
});

$( "#fetchEditionButton" ).click(function() {
    console.log( "Handler for fetchEditionButton .click() called." );
    var text = $('#editionInput').val();
    utils.json.get({
        url : '/rest/dci/fetch/edition/' + text,
        success : function(result) {
            console.log(["fetch cards by edition",this, result]);
            pageViewModel.populateCardTable(result);
            // result.forEach(function(item) {
            // console.log(new Card(item));
            // self.cards.push(new Card(item));
            // });
            // pageViewModel.populateCardDetail(new Card(result[0]));
        }
    });
});

$("#fetchManagedCards").click(function() {
    utils.json.get({
        url : '/rest/cards/fetch/managed/',
        success : function(result) {
            utils.msg.info("done loading managed cards");
        }
    });
});

$("#cleanAllDciHistory").click(function() {
    utils.json.get({
        url : '/rest/dci/clean-all',
        success : function(result) {
            utils.msg.info("done cleaning all DCIs: " + result);
        }
    });
});

$("#cleanCardDciButton").click(function() {
    var text = $('#findInput').val();
    utils.json.get({
        url : '/rest/dci/clean/'+text+'',
        success : function(result) {
            utils.msg.info("done cleaning");
        }
    });
});
</script>
</body>
</html>
